* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: blue;
    width: 100%;
    height: 70px;
}

*banner {
    background: url(1.jpeg)
    width:100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}