* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a {
    font-size: 40px;
    color: #ff2b85;
}

nav {
    background: white;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: fixed;
    top: 0;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #ff2b85;
    font-family: cursive;
    padding: 0 10px;
    text-transform: uppercase;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Image/about-foodpanda-1920x539.jpeg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin-top: 70px;
}

.banner h1 {
    text-align: center;
    color: blue;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 120px;
}

.banner input {
    width: 600px;
    height: 40px;
    font-size: 17px;
    background: #000000c4;
    border: none;
    outline: none;
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    box-shadow: 3px 4px 19px #0f4ed1;
}

::placeholder {
    color: white;
}

.news {
    background: #000000b8;
    width: 100%;
    height: 60px;
    margin-top: -20px;
}

.news marquee {
    color: white;
    font-size: 30px;
    padding-top: 10px;
}

.about {
    width: 100%;
    padding: 140px 200px;
    text-align: center;

}

.about h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: monospace;
    color: #ff2b85;
    letter-spacing: 30px;
    word-spacing: 1px;
    margin-bottom: 10px;
}

.about p {
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 10px;

}

.about bottom {
    width: 100px;
    height: 50px;
    background-color: #ff2b85;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 11px;
}

.about button:hover {
    background: linear-gradient(to right, yellow, green);
}

.press {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Image/download\ \(1\).jpg);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    padding: 130px 200px;
    text-align: center;
    color: white;
}


.team {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Image/download.jpg);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    padding: 130px 200px;
    text-align: center;
    color: white;
}


.contact {
    background: #ff2b85;
    width: 100%;
    height: 450px;
    padding: 130px 200px;
    text-align: center;
    color: white;
}

footer {
    background: black;
    width: 100%;
    height: 400px;

}